body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: black;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

#message {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(255, 154, 22);
}

#matrice {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
}
